* { box-sizing: border-box; }

#sticky {
  position: sticky;
  position: -webkit-sticky;
  background: #fff;
  width: 100%;
  height: 40vh;
  top: 70px;
  display: flex;
  box-shadow: 0 0 0px #000;
  margin-bottom: 0px;
  object-fit: cover;
  color: #fff;
}
.extra,
#wrapper {
  width: 100%;
  margin-top: 0px;
  margin: auto;
}
#wrapper {
  min-height: 50vh;
}
.extra {
  height: 0px;
}

#stickyarticle {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 70px,
    #ffffff 70px,
    #ffffff calc(100% - 70px),
    transparent 0
  );
  margin: auto auto 50px auto;
}
.category,
.title,
.footer {
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  height: 50px;
}

.category {
  top: 20pt;
  color: #58585A;
}

.title {
  top: 20pt;
  background-color: #fff;
  color: #ED217B;
}
.footer{
  bottom: 100px;
  z-index: -1;
}
.emptyBlocks {
  background-color: #fff;
  height: 200px;
  margin: 20px auto;
}
@media (min-height: auto) {
  #wrapper{
    height: auto;
  }
}
#stickybody{
  margin-top: 50px;
}

// Fixed background image element
figure {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

// Sticky image scroll
.sticky-img-container{
  position: relative;
  width: 100vw;
  height: 100vh;
}




