#sticky {
  position: sticky;
  position: -webkit-sticky;
  background: #fff;
  width: 100%;
  height: 40vh;
  top: 20px;
  display: flex;
  box-shadow: 0 0 0px #000;
  object-fit: cover;
  color: #fff;
}
.extra,
.category,
.title,
#wrapper {
  width: 100%;
  margin: auto;
  background-color: #fff;
}
#wrapper {
  min-height: 100vh;
}
.extra {
  height: 0px;
}
.category {
  top: 0;
  font: h3;
  color: $primary-colour;
  text-shadow: 0px 0px 0 #fff;
}
.title {
  top: 0;
  font: h2;
  color: $primary-colour ;
  text-shadow: 0px 0px 0 #fff;
  background-color: #fff;
  margin: 5px;
}
body {
  font-family: sans-serif;
  height: 1000px;
}
h4 {
  text-align: center;
}
p {
  margin: 10px;
}
.emptyBlocks {
  background-color: #fff;
  height: 200px;
  margin: 20px auto;
}
@media (min-height: 768px) {
  #wrapper{
    height: 2000px;
  }
}

